<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="DbConnectionString" value="Data Source=LAPTOP-E2KS7DLD\SQLEXPRESS;Initial Catalog=universityDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False"/>
	</appSettings>
</configuration>